.answer-box {
    width: 25vw;
    background-color: #4c5a4c;
    color: 	#f3c87f;
    font-size: 24px;
    font-family: 'Middleearth';
    text-align: center;
    padding: 16px;
    line-height: 32px;
    margin-top: 25px;
    margin-left: 5vw;
    margin-bottom: 100px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.solution {
    text-decoration: underline;
}